site_name: The Bamboo Filing Cabinet
site_url: https://bamboo-filing-cabinet.github.io/

nav:
  - Home: index.md

theme:
  name: material

plugins:
   - search
   - awesome-nav
   - git-revision-date-localized